<div class="wrapper">
  <!-- Header -->
<mat-toolbar color="primary" class="header">
  <div routerLink="/" style="margin-right: 2%; cursor: pointer;">
    <img src="https://img.icons8.com/ios/452/book--v1.png" alt="Book Icon" width="32" height="36">
  </div>

  <span routerLink="/" style="flex-grow: 1; text-align: center; cursor: pointer;">Book Exchange System</span>
 
   <div *ngIf="!isLoggedIn()">
     <a mat-button routerLink="/login">Login</a>
     <a mat-button routerLink="/register">Register</a>
    </div>
     <!-- profile-button.component.html -->
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon style="background-color: secondary;">account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="goToMyAccount()">
        My Profile
      </button>
      <button mat-menu-item (click)="logout()">
        Logout
      </button>
</mat-menu>
 </mat-toolbar>

 
  <!-- Main content -->
  <router-outlet>
    <app-navigation></app-navigation>
  </router-outlet>
  <!-- Footer -->
  <!-- <mat-toolbar color="primary" class="footer">
    <span>&copy; 2024 Book Exchange. All rights reserved.</span>
  </mat-toolbar> -->
</div>
