<div class="wrapper">
  <!-- Header -->
<mat-toolbar color="primary" class="header">
  <span routerLink="/">Book Exchange System</span>
   <div class="spacer"></div>
   <div *ngIf="!isLoggedIn()">
     <a mat-button routerLink="/login">Login</a>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/">Profile</a>
    </div>
     <!-- profile-button.component.html -->
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon style="background-color: secondary;">account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="goToMyAccount()">
        My Account
      </button>
      <button mat-menu-item (click)="logout()">
        Logout
      </button>
</mat-menu>
 </mat-toolbar>

 
  <!-- Main content -->
  <router-outlet>
    <app-navigation></app-navigation>
  </router-outlet>
  <!-- Footer -->
  <!-- <mat-toolbar color="primary" class="footer">
    <span>&copy; 2024 Book Exchange. All rights reserved.</span>
  </mat-toolbar> -->
</div>
