<div class="exchange-request-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Exchange Request Statuses</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let request of exchangeRequests">
            <p mat-line>Book: {{ request.bookTitle }}</p>
            <p mat-line>Requested by: {{ request.requestedBy }}</p>
            <p mat-line>Status: {{ request.status }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  