.message-container {
    max-width: 800px;
    padding: 70px 0;
    margin: 0 auto;
  }
  
  .message-card {
    margin-bottom: 20px;
  }
  
  .compose-form {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .compose-form h2 {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-input-element,
  .mat-form-field-underline {
    border-radius: 5px;
  }
  
  .mat-button {
    border-radius: 5px;
  }
  