<!-- navigation.component.html -->
<mat-sidenav-container *ngIf="isLoggedIn()" class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <mat-nav-list>
            <!-- Book Menu Items-->
            <a mat-list-item routerLink="/book-listing" routerLinkActive="active-link">Book Listing</a>
            <a mat-list-item routerLink="/add-book" routerLinkActive="active-link">Add Book</a>
            <a mat-list-item routerLink="/exchange-requests" routerLinkActive="active-link">Exchange Requests</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
