<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Reading Preferences</mat-label>
      <input matInput name="readingPreferences" [(ngModel)]="user.readingPreferences">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Favorite Genres</mat-label>
      <input matInput name="favoriteGenres" [(ngModel)]="user.favoriteGenres">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Books Owned</mat-label>
      <textarea matInput name="booksOwned" [(ngModel)]="user.booksOwned"></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Books Wish to Acquire</mat-label>
      <textarea matInput name="booksToAcquire" [(ngModel)]="user.booksToAcquire"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="saveProfile()">Save Profile</button>
  </form>
  